echo "********************************************************************************"
echo "********************************* I'm HOOK 01 **********************************"
echo "********************************************************************************"
